/* sets everything to 0 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.content {
  max-width: 1170;
  margin: 0 auto;
  padding: 0 30px;
}

body {
  background: #e6ecf0;
  font-family: "Helvetica Nue", "Helvetica", "Arial", sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

/* header */
header#main-header {
  height: 50px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
  /* flex: 1; */
}

/* div under header */
header#main-header .content {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
/* ul that has lis right below */
nav ul#list-icons {
  display: flex;
  list-style: none;
}
/* these are the list items with home, notific & messages. Both imgs and text */
header#main-header nav ul li {
  font-size: 13px;
  color: #667580;
  display: flex;
  align-items: center;
  margin-left: 30px;
  font-weight: bold;
}
/* this is the first iamge Home */
header#main-header nav ul li:first-child {
  margin-left: 0;
}

/* these are all the images on left home, notifs, message */
header#main-header nav ul li img {
  margin-right: 7px;
}

/* this is the div that has profile picture, search on twitter input and profile icon */
header#main-header div.side {
  display: flex;
}
/* this is the Tweet Button */
header#main-header div.side button {
  height: 34px;
  background: #3bb9e3;
  width: 90px;
  display: flex;
  font-size: 14px;
  color: #fff;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
}

/* profile image */
header#main-header div.side img {
  margin: 0 15px;
}

header#main-header div.side input {
  background: #f5f8fa;
  border: 1px solid #e6ecf0;
  height: 34px;
  padding: 0 12px;
  border-radius: 16px;
  color: #667581;
  font-size: 12px;
  color: #667581;
}

input,
button {
  outline: 0;
}

img#profile {
  height: 34px;
  width: 34px;
}
img#logo {
  height: 34px;
  width: 34px;
}

img {
  height: 34px;
  width: 34px;
}

/* bannner */

div.banner {
  height: 300px;
  width: 100%;
  background: #3bb9e3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

div.bar {
  height: 59px;
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  width: 100%;
}

div.bar .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 285px;
  height: 100%;
}

div.bar .content ul {
  display: flex;
  list-style: none;
  height: 100%;
}

div.bar .content ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  position: relative;
}
div.bar .content ul li.active ::after {
  content: "";
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #3bb9e3;
}

div.bar .content ul li span {
  font-size: 12px;
  font-weight: bold;
  color: #667580;
}

div.bar .content ul li strong {
  font-size: 18px;
  margin-top: 2px;
  color: #667580;
}

div.bar .content ul li.active strong {
  color: #3bb9e3;
}

div.bar .content .actions {
  display: flex;
}

div.bar .content button {
  height: 34px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
  width: 90px;
  color: #3bb9e3;
  border: 1px solid #3bb9e3;
  border-radius: 16px;
  margin-right: 20px;
}

/* div.bar .content .actions button {
  height: 34px;
  background: #3bb9e3;
  width: 90px;
  display: flex;
  font-size: 14px;
  color: #fff;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
} */
